.team {
  position: relative;
  transition: all 0.5s;
}

.socials {
  position: absolute;
  top: 50%;
  left: -999999999999999999999px;
  transform: translate(-50%, -50%);
  transition: all 0.1s;
}

.team:hover .socials {
  left: 50%;
}
